# dependencies
/backend/node_modules
/frontend/node_modules
.idea/*

# production
./backend/build

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/backend/npm-debug.log*
/frontend/yarn-debug.log*
/backend/yarn-debug.log*
/frontend/yarn-error.log*
/backend/yarn-error.log*
/frontend/yarn.lock
