.wrapper-data-piker {
    display: flex;
    position: relative;
}

.icon-calendar{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 15px;
}

.data-piker {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 10px 15px 10px 42px;
    border: 1px solid rgba(38, 38, 38, 0.12);
    width: 100%;
    border-radius: 4px;
    color: var(--color-light-black);
}

.data-piker:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

.data-piker:hover {
    cursor: pointer;
}
