.sign-wrapper {
    position: relative;
    background-color: var(--color-white);
    padding: 3.75rem 4.37rem;
    width: 100%;
    height: 100%;
}

.sign-title {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    color: var(--color-black);
    line-height: 2.62rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.sign-form {
    width: 310px;
}

.cross-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.show-icon {
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.cross-icon:hover, .show-icon:hover {
    cursor: pointer;
}

.cross-icon:active, .show-icon:hover {
    opacity: 0.7;
}


@media (max-width: 500px) {
    .sign-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }

    .sign-title {
        margin-bottom: 1.7rem;
    }

    .sign-form {
        width: 260px;
    }
}


