.client-wrapper {
    position: relative;
    background-color: var(--color-white);
    padding: 3.75rem 4.37rem;
}

.client-container {
    width: 660px;
}

.client-avatar {
    width: 200px;
    height: 215px;
    margin-right: 2.5rem;
}

.client-card-title {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.62rem;
    color: var(--color-black);
}

.client-container-info {
    display: flex;
    margin: 2.5rem 0;
}

.client-container-name {
    display: flex;
    margin-bottom: 20px;
}

.client-container-name > .label-inputs:first-child {
    margin-right: 20px;
}

.label-inputs {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
}

.label-inputs-date-container {
    margin-top: 7px;
    margin-bottom: 20px;
}

.label-inputs-date {
    margin-top: 20px;
}

.wrapper-buttons-footer {
    display: flex;
    justify-content: space-between
}

.button-footer {
    width: 100px;
    margin-right: 10px
}

.container-buttons-footer {
    display: flex;
}

@media (max-width: 800px) {

    .client-wrapper {
        padding: 40px 30px;
    }

    .client-card-title {
        text-align: center;
    }
}

@media (max-width: 750px) {
    .client-container-info, .client-container-name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .client-container-name {
        margin-bottom: 0;
    }

    .client-container-name > .label-inputs:first-child {
        margin-right: 0;
    }

    .client-container-info {
        margin: 30px 0 30px 0;
    }

    .label-inputs {
        margin-right: 0;
    }

    .client-container {
        width: 260px;
    }

    .client-avatar {
        width: 150px;
        height: 160px;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .label-inputs {
        margin-bottom: 20px;
    }

    .button-footer {
        width: 125px;
    }

    .wrapper-buttons-footer {
        flex-direction: column-reverse;
    }

    .button-delete-footer {
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .client-cross-icon{
        top: 20px
    }

    .label-inputs-date{
        margin-top: 20px;
    }

}
